<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand">{{language.CompanyName}}</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink='/welcome'>{{ language.Home}}</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink='/products'>{{language.ProductList}}</a>
            </li>
            <li class="nav-item" routerLinkActive="active" *ngIf="isLoggedIn">
                <a class="nav-link" routerLink='/admin'>{{language.Manage}}</a>
            </li>
           
        </ul>
        <ul class="navbar-nav navbar-right">
            <li class="nav-item" *ngIf="isLoggedIn">
                <a class="nav-link" [routerLink]="['/user/login']">{{language.welcome}} {{ userName }}</a>
            </li>
            <li class="nav-item" *ngIf="!isLoggedIn">
                <a class="nav-link" [routerLink]="['/user/login']">{{language.LogIn}}</a>
            </li>
            <li class="nav-item" *ngIf="isLoggedIn">
                <a class="nav-link" (click)="logOut()" style="cursor: pointer">{{language.LogOut}}</a>
            </li>
        </ul>
    </div>
</nav> -->

<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink='/welcome'>{{language.CompanyName}}</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a routerLink='/welcome'>{{ language.Home}}</a></li>
        
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" *ngIf="!havePermission(roles.EndUser) && isLoggedIn">{{language.Manage}}
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a *ngIf="havePermission(roles.ManageUser)" routerLink='/admin/manageuser'>{{language.ManageUser}}</a></li>
              
            </ul>
          </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        
        <li><a  *ngIf="!isLoggedIn" [routerLink]="['/user/login']"><span class="glyphicon glyphicon-log-in"></span> {{language.LogIn}}</a></li>
        
        <li *ngIf="isLoggedIn" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> {{language.welcome}} {{ userName }}
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a>{{language.Profile}}</a></li>
              <li><a>{{language.ChangePassword}}</a></li>
              <hr>
              <li><a (click)="logOut()" style="cursor: pointer">{{language.LogOut}}</a></li>
            </ul>
          </li>
      </ul>
    </div>
  </nav>