  <!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark unique-color" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" >Navbar</a></mdb-navbar-brand>
  
    <!-- Collapsible content -->
    <links>
  
      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link waves-light" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"  data-toggle="dropdown" [routerLink]="['/admin/manageuser']"
              aria-haspopup="true" aria-expanded="false">{{language.Manage}}</a>
            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" >{{language.ManageUser}}</a>
            </div>
          </li>
  
      </ul>
      <!-- Links -->
  
      <ul class="navbar-nav ml-auto nav-flex-icons">
       
          <li>
              <a *ngIf="!isLoggedIn" class="btn btn-info btn-rounded btn-sm waves-effect waves-light"  [routerLink]="['/user/login']" data-toggle="modal" data-target="#navbarLogin">{{language.LogIn}}
                  <i class="fas fa-sign-in-alt ml-2"></i>
                </a>
            </li>

            <li class="nav-item" *ngIf="isLoggedIn" >
          <a class="nav-link">
            <div class="btn-group" mdbDropdown>
              <mdb-icon fas icon="user" mdbDropdownToggle></mdb-icon> 
              <div class="dropdown-menu dropdown-menu-right dropdown-primary">
               
                
                <li><a class="dropdown-item">{{language.Profile}}</a></li>
              <li><a class="dropdown-item">{{language.ChangePassword}}</a></li>
                <div class="divider dropdown-divider"></div>
                <a class="dropdown-item" (click)="logOut()" >{{language.LogOut}}</a>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </links>
    <!-- Collapsible content -->
  
  </mdb-navbar>
  <!--/.Navbar-->