<form class="border border-light p-5">
    <div class="form-group">
      <label for="exampleInputEmail1">{{language.DisplayName}}</label>
      <input type="email" class="form-control" [(ngModel)]="currentCategory.Name" id="name"  placeholder="{{language.DisplayName}}">
     
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">{{language.Icon}} {{language.Url}}</label>
      <input type="password" class="form-control" [(ngModel)]="currentCategory.Icon" id="Icon" placeholder="{{language.Icon}}">
    </div>
    
    <div class="form-group">
        <label for="exampleFormControlTextarea1">{{language.Description}}</label>
        <textarea class="form-control" [(ngModel)]="currentCategory.Description" id="Description"  rows="3"></textarea>
    </div>

    
    <div class="form-group">
      <label for="exampleFormControlTextarea1">{{language.Inclusions}}</label>
      <input type="text" class="form-control" [(ngModel)]="inclusionText" 
      id="inclusionText" placeholder="{{language.Inclusions}}" 
       aria-describedby="button-addon2">
      <div class="input-group-append">
          <button class="btn btn-sm btn-primary" [disabled]="inclusionText.length < 5"  type="button" id="button-addon2">{{language.Add}}</button>
      </div>
      {{inclusionText.length}}
      <div *ngFor="let inclusion of currentCategory.Inclusions">
        <span class="badge badge-pill badge-default align-middle">{{inclusion.Text}}</span>
      </div>
  </div>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">{{language.Exclusions}}</label>
    <input type="text" class="form-control" [(ngModel)]="exclusionText" id="exclusionText" placeholder="{{language.Exclusions}}" 
     aria-describedby="button-addon2">
    <div class="input-group-append">
        <button class="btn btn-sm btn-primary" [disabled]="exclusionText.length < 5" 
         type="button" id="button-addon2">{{language.Add}}</button>
    </div>
    <div *ngFor="let inclusion of currentCategory.Exclusions">
      <span class="badge badge-pill badge-default align-middle">{{inclusion.Text}}</span>
    </div>
</div>


    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
