<div class="row">
        <div class="col-sm-4" *ngFor="let user of FilterUserList">
            <pm-card> 
                <div card-title>
                    <h5>{{user.Username}}</h5>
                </div>
                <div card-body>

                </div>
                <div card-footer>
                        <a  class="btn"> <span class="glyphicon glyphicon-pencil"></span></a>
                        <a  class="btn"><span class="glyphicon glyphicon-trash"></span></a>
                </div>
            </pm-card>
        </div>
</div>