<div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="vertical-menu">
            <a *ngIf="havePermission(roles.ManageUser)"  routerLink='/admin/manageuser' class="active">{{language.ManageUser}}</a>
          </div>
      </div>
      <div class="col-sm-9">

          <nav class="navbar navbar-light bg-light justify-content-between">
              <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
            </nav>

        <router-outlet></router-outlet>
      </div>
    </div>
    </div>