<mdb-card>

    <mdb-card-header class="info-color white-text text-center py-4">
      <h5>
        <strong>{{language.Create}}</strong>
      </h5>
    </mdb-card-header>
  
    <mdb-card-body class="px-lg-5 pt-0">
  
      <form class="text-center" style="color: #757575;" [formGroup]="form" (ngSubmit)="onSubmit()">
  
        <div class="md-form mt-3">
          <input type="text" formControlName="Username" id="materialFormUserName" class="form-control"
            mdbInput>
          <label for="materialFormUserName">{{language.UserNameLabel}}</label>
        </div>
  
        <div class="md-form">
          <input type="email" formControlName="Email"  id="materialFormEmail" class="form-control"
            mdbInput>
          <label for="materialFormEmail">{{language.Email}}</label>
        </div>

        <span>{{language.Roles}}</span>
      <div class="row">
        <div class="col-md-12 mx-auto">
          <mdb-select formControlName="Roles" 
          [options]="optionsSelect" placeholder="Choose your option"></mdb-select>

         
        </div>
      </div>
  
        
  
        <div class="row">
            <button mdbBtn type="button" [disabled]="disabledSubmitButton" 
            class="z-depth-0 my-4 waves-effect" color="primary" mdbWavesEffect>{{language.Create}}</button>
            <button mdbBtn type="button" 
            class="z-depth-0 my-4 waves-effect" color="primary" (click)="cancel()" mdbWavesEffect>{{language.Cancel}}</button>
        
              </div>
      </form>
  
    </mdb-card-body>
  
  </mdb-card>