<mdb-card>

    <mdb-card-header class="info-color white-text text-center py-4">
      <h5>
        <strong>{{language.Create}}</strong>
      </h5>
    </mdb-card-header>
  
    <mdb-card-body class="px-lg-5 pt-0">
  
      <form novalidate  #CreateForm="ngForm" class="text-center" style="color: #757575;"  (ngSubmit)="onSubmit(CreateForm)">
  
        <div class="md-form mt-3">
          <input [(ngModel)]="Username"   required type="text"  
          id="Username" name="Username" class="form-control" 
            mdbInput>
          <label for="Username">{{language.UserNameLabel}}</label>
        </div>
         
        <div class="md-form">
          <input type="email" [(ngModel)]="Email" required  id="Email" name="Email" class="form-control"
            mdbInput>
            <label for="Email" data-error="wrong" data-success="right">Type your email</label>
         
        </div>



        <span>{{language.UserRoles}}</span>
      <div class="row">
        <div class="col-md-12 mx-auto">
            <ng-multiselect-dropdown
            name = "selectedItems"
            [placeholder]="language.SelectRoles"
            [data]="dropdownList"
            [(ngModel)]="selectedItems"
            [settings]="dropdownSettings"
            
          >
          </ng-multiselect-dropdown>

         
        </div>
      </div>
  
        
  
        <div class="row">
          
            <button mdbBtn type="submit" [disabled]="!CreateForm.valid &&  selectedItems.length < 1"
            
            class="z-depth-0 my-4 waves-effect" color="primary" mdbWavesEffect>{{language.Create}}</button>
            <button mdbBtn type="button" 
            class="z-depth-0 my-4 waves-effect" color="primary" (click)="cancel()" mdbWavesEffect>{{language.Cancel}}</button>
        
              </div>
      </form>
  
    </mdb-card-body>
  
  </mdb-card>