<div class="col-md-12">
    <h3>{{language.Create}}</h3>
  </div>
  <div class="col-md-6">
    <form [formGroup]="newSessionForm" (ngSubmit)="saveSession(newSessionForm.value)" 
    novalidate autocomplete="off">
      <div class="form-group">
        <label for="name">{{language.UserNameLabel}}:</label>
        <input id="name" formControlName="name" 
        type="text" class="form-control" placeholder="session name..." />
      </div>
      
      
      <div class="form-group">
          <label for="eventDate">{{language.Email}}:</label>
          <input id="presenter" 
          formControlName="presenter" type="text" class="form-control" placeholder="presenter..." />
        </div>

        <div class="form-group">
            <label for="eventDate">{{language.Roles}}:</label>
            <input id="presenter" 
            formControlName="presenter" type="text" class="form-control" placeholder="presenter..." />
          </div>
      
      <button type="submit" class="btn btn-primary" [disabled]="newSessionForm.invalid">Save</button>
      <button type="button" class="btn btn-default" (click)="cancel()" >Cancel</button>
    </form>
  </div>